*{
    margin: 0;
    padding: 0;
    font-weight:400;
}

.price {
    font-family: 'Montserrat', 'HelvticaNeue', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-left: 7px;
}

#tg-settings {
    color: white;
    position: absolute;
    z-index: 4444;
    right: 40px;
    bottom: 20px;
    font-size: 28px;
}

#tg-settings:hover {
    cursor: pointer;
}

.increase {
    color: green;
}

.decrease {
    color: red;
}

.normal {
    color: orange;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'monospace';
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    z-index: 55;
}

#logo {
    width: 80px;
    position: relative;
    top: 20px;
}

.container {
    position: relative;
    font-family: "Roboto";
    width: 100%;
    height: 200px;
    margin-top: 40px;
    box-sizing: border-box;
    z-index: 55;
}
.coin-name {
    color: #fc3
}

.crypto-logo {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.c-child {
    color: white;
    width: 33.2%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', 'HelvticaNeue', 'Arial', sans-serif;
}

h2 {
    font-size: 25px;
    font-weight: lighter;
    font-family: monospace;
}

h5 {
    font-family: "Kreon";
    font-size: 17px;
    margin: 3px;
    font-weight: 100;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    font-family: "Coustard";
    z-index: 44;
}

footer #appName {
    font-family: "Barlow Condensed";
    font-size: 19px;
    letter-spacing: 2px;
}

.settings__section {
    box-sizing: border-box;
    font-family: "Roboto";
    box-shadow: 0px 0px 70px 0px black;
    font-size: 17px;
    color: black;
    padding: 20px 20px 20px 20px; 
    border-radius: 9px;
    background-color: #e3e3e3;
    bottom: 10px;
    right: 85px;
    position: absolute;
	z-index: 444;
    display: none;
}

.misguided-elements {
    padding: 5px;
    border-radius: 5px;
}

label:hover {
    cursor: pointer
}

.misguided-elements:hover {
    background-color: #fc3;
    cursor: pointer;
}

#credits {
    display: none;
}

#settings__credits{
    margin: 10px;
}

h5 i {
    color: #fc3
}

#kre {
    box-shadow: 0px 0px 7px white;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 777;
    width: 50px;
    border-radius: 20%;
}

/* unsplash bs */

.bg__image,.bg__overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0
}

.bg__image{
	z-index:1;
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

.bg__overlay{
	z-index:2;
	background:rgba(0,0,0,0.8)
}

.unsplash{
    font-family: 'Montserrat', 'HelvticaNeue', 'Arial', sans-serif;
	position:absolute;
	bottom:20px;
	left:40px;
	z-index:9999;
	height:32px;
	line-height:32px;
	display:flex
}

.unsplash:hover {
    color: #fc3;
}

.unsplash__author__image{
    width:32px;
    height:32px;
    border-radius:999px;
    float:left;
    margin-right:10px;
    box-shadow:0 4px 6px rgba(0,0,0,0.1)
}

.anchor{
    color:white;
    text-decoration:none;
    font-size:13px;
    font-weight:400;
    border-bottom:1px solid rgba(255,255,255,0.5)
}


